/* Estilos CSS para el lienzo */
#cont {
    display: flex;
}

#lienzo {
    width: 800px; /* Ancho aumentado */
    height: 1500px; /* Altura modificada */
    border: 1px solid #ccc;
    margin-right: 20px;
    overflow: auto; /* Add overflow to handle content overflow */
    /* Optional: center the content horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

#matriz {
    font-family: Arial, sans-serif;
    margin-top: 20px;
    background-color: azure;
    color: blue;
}

#matriz table {
    border-collapse: collapse;
    background-color: aliceblue;
}

#matriz th, #matriz td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

#matriz th {
    background-color: #f2f2f2;
}

/* CSS styles for the button container */

/* CSS styles for the button container */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjust the margin as needed */
}

/* Styles for the custom buttons */
.button-container .custom-btn {
    background-color: blueviolet; /* Background color for the buttons */
    color: aliceblue; /* Text color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
    margin-bottom: 10px; /* Add margin between buttons */
    font-family: 'Times New Roman', Times, serif; /* Font family */
    font-size: 20px; /* Font size */
}

.button-container .custom-btn:hover {
    background-color: purple; /* Darken the background color on hover */
}
