header {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: url('background.jpg'); /* Adjust background image as needed */
    color: #fff;
    text-align: center;
    padding: 40px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2c3e50;
    color: #fff;
}

body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-image: url('path/to/your/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 160px; /* Adjust according to the height of the header */
    padding-bottom: 40px; /* Adjust according to the height of the footer */
    width: 100%;
}

.title-container {
    background-image: url('background.jpg');
    padding: 60px;
}

h1 {
    margin: 0;
    color: #fff;
    font-size: 50px;
}

.subtitle-container {
    background-image: url('background.jpg');
    padding: 60px;
    text-align: center;
}

.subtitle-container h2 {
    margin: 0;
    color: #fff;
    font-size: 30px;
}

main {
    text-align: center;
    margin: 20px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    justify-content: center;
}

.custom-btn {
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
}

.contactosBtn {
    padding: 5px;
    font-size: 17px;
    cursor: pointer;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}

#toggleSidebarBtn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    background-color: #2c3e50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 70px;
    cursor: pointer;
    font-style: italic;
}

#menu {
    position: initial;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2000px;
    background-color: #34495e;
    padding: 20px;
    display: none;
}

#menu .custom-btn {
    background-color: #2c3e50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 150px;
}

#menu .custom-btn:hover {
    background-color: #1a252f;
}

#text {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 50px auto; /* Adjusted margin for better centering */
}

p {
    text-align: left;
    font-size: 40px;
    
}

.container {
    background-color: #34495e;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
}

.column {
    width: calc(25% - 80px); /* Adjust the width of each column */
    margin: 20px; /* Adjust margin between columns */
    padding: 30px;
    box-sizing: border-box;
    background-color: #34495e;
    color: white;
    max-width: 100%;
    height: auto;
    text-align: center;
}
 h3{
    background-color: #3498db;
 }